openai==0.27.8
langchain==0.0.256
transformers==4.28.1
numpy==1.23.5
pandas==2.0.3
scikit-learn==1.2.2
tqdm==4.65.0
requests==2.31.0
gradio==3.35.2
fastapi==0.100.0     # update 0.95.2
uvicorn==0.22.0
beautifulsoup4==4.12.2
python-dotenv==1.0.0
docarray==0.34.0
sentencepiece==0.1.99
datasets==2.13.1
faiss-cpu==1.7.4
sentencepiece==0.1.99
tiktoken==0.3.1
sentence-transformers==2.2.2
ruamel.yaml==0.17.32
unstructured==0.9.0  # for parse markdown files
markdown==3.4.4
pypdf==3.12.1       # for langchain pdfloader
wikipedia==1.4.0
pytest==7.4.0
#snowflake-sqlalchemy==1.4.7
#snowflake-connector-python==3.1.0
#langchain_experimental==0.0.8
#kaleido==0.2.1
#plotly==5.16.1
#tabulate==0.9.0
#pytest-assume==2.4.3

# from langflow

#langchain-experimental==0.0.8
#sqlmodel==0.0.8
#SQLAlchemy==1.4.41
#alembic==1.11.2
#docstring-parser==0.15
#python-jose==3.3.0
#loguru==0.7.1
#passlib==1.7.4
#langfuse==1.0.13
#pillow==10.0.0
